extends ./layout/index

block contenido
    div(class="pt-36 flex flex-col p-8")
        h1(class="text-4xl uppercase text-center") About us 

        div(class="grid grid-cols-2 sm:flex sm:flex-col mt-5")
            img(src="/imgSimp/about.webp" alt="about-image" class="")

            div(class="p-4 flex flex-col gap-y-5")
              div 
                 h3(class="text-3xl uppercase font-semibold") Who are we?
                 p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur eos vero sed facere reprehenderit sequi, atque veritatis provident possimus magnam debitis unde velit! Aspernatur nam fuga temporibus molestiae sit aliquid accusantium, iusto illo exercitationem cum eligendi quas libero minima ratione recusandae aut animi, eaque perspiciatis esse placeat! Consequatur, nihil omnis.

              div 
                 h3(class="text-3xl uppercase font-semibold") our mission
                 p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur eos vero sed facere reprehenderit sequi, atque veritatis provident possimus magnam debitis unde velit! Aspernatur nam fuga temporibus molestiae sit aliquid accusantium, iusto illo exercitationem cum eligendi quas libero minima ratione recusandae aut animi, eaque perspiciatis esse placeat! Consequatur, nihil omnis.

              div 
                 h3(class="text-3xl uppercase font-semibold") 20 years taking care of you
                 p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur eos vero sed facere reprehenderit sequi, atque veritatis provident possimus magnam debitis unde velit! Aspernatur nam fuga temporibus molestiae sit aliquid accusantium, iusto illo exercitationem cum eligendi quas libero minima ratione recusandae aut animi, eaque perspiciatis esse placeat! Consequatur, nihil omnis.